body {
	background-image: url("../../assets/images/ep_naturalwhite.png");
}

h1, h2, h3, h4 {
	font-family: "Georgia", Times, Times New Roman, serif;
}

#header {
	background-color: "#ffffff";
}

h1 {
	font-size: 24px;
	color: "#ffffff";
	font-weight: bold;
	background-color: #4aaaa5;
	width: 15%;
	text-align: center;
	padding: 10px 5px;
	float: left;
	margin-left: 10%
}

a {
	float: right;
}